.footer {
  margin: 0 auto;
  max-width: 880px;
  padding-bottom: 60px;
}

@media screen and (max-width: 900px) {
  .footer {
    padding: 0 27px 60px;
  }
}

@media screen and (max-width: 719px) {
  .footer {
    padding: 0 19px 36px;
  }
}
